body{
    background-color: rgb(26, 26, 26);
    color: aliceblue;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: bold;
}

.container{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.options{
    gap:3vh;
    width: 150vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 3vh;
}

.arraymember{
    width: 20vh;
    background-color: aliceblue;
    border-radius: 2vh;
    margin-bottom: 1vh;
}

.main{
    justify-content: center;
    align-items: end;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    margin-bottom: 5vh;
    height:60vh;
    width: 150vh;
    background-color: rgb(26, 26, 26);
    border-radius: 4vh;
}

.selected{
    background-color: rgb(218, 73, 33);
}

h1{
    font-weight: 900;
    margin-bottom: 5vh;
    font-size: 8vh;
    margin-top: -3vh;
}

.pivot{
    background-color: rgb(33, 76, 218);
}

select {
    text-align: center;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; 
    background-color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    width: 25vh;
    outline: none;
    transition: border-color 0.3s;
}

select:hover {
    background-color: #000000;
    color: aliceblue;
    border: 2px solid aliceblue;
}

button {
    width:20vh;
    background-color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
}

button:hover {
    background-color: #000000;
    color: aliceblue;
    border: 2px solid aliceblue;
}

input[type="range"] {
	width: 25vh;
}
